.greetin-mensage{
    display: flex;
    height: 100px;
    background-color: black;
    margin-top: 30px;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.box-products{
    border: 5px solid red;
    background: white;
    color: black;
    display: flex;
    align-items: flex-end;
    width: 100%;
    margin-top: 10px;
}

.text-greeting {
    color: white;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
}

.greetin-mensage h2:hover {
    color: red;
}